body{
    background-color: aqua;
}

img:hover{
    border-radius:140px;
}


#footer{
    position: fixed;
    bottom:0;
    width: 100%;
    text-align: center;
    font-family: fantasy;
    background-color: white;
    font-weight: bold;
    font-size: 18px;
}

#heading{
    font-size:40px;
    font-weight: bold;
    font-family: fantasy;
}

img{
    padding: 20px;
    height:350px;
    width:350px;
}

#instruction{
    font-family: 'Fjalla One', sans-serif;
    font-weight: bold;
    font-size: 20px;
    word-spacing:3px;
}